.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

form {
    display: flex;
    gap: 10px;
}

input {
    margin-right: 10px;
}

.todo-list {
    list-style-type: none;
}

.snackbar {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    opacity: 0; /* 처음에는 스낵바를 투명하게 합니다. */
    visibility: hidden; /* 처음에는 스낵바를 보이지 않게 합니다. */
    transition: visibility 0s 0.5s, opacity 0.5s ease-in-out;
}

@keyframes slideIn {
    from {
        right: -200px;
    }
    to {
        right: 20px;
    }
}

.snackbar.show {
    animation: slideIn 0.5s forwards;
    opacity: 1;
    visibility: visible;
}

.snackbar.success {
    /* 성공 Snackbar 스타일 */
    background-color: rgba(0, 200, 0, 0.7);
}

.snackbar.error {
    /* 실패 Snackbar 스타일 */
    background-color: rgba(255, 0, 0, 0.7);
}


