body {
    background: aliceblue;
}

button {
    -webkit-user-select: none;  /* Chrome, Safari, Opera */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Standard syntax */
    background: aliceblue;
    border: solid 1px #767676;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
}

ul {
    list-style-type: none;
}

.diary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    margin: 1em;
    padding: 1em;
    border: solid gold 3px;
    border-radius: 1em;


}

.diary-date {
    flex: 0.5;
}

.diary-text {
    flex: 3;
}

.diary-action {
    flex: 0.5;
    display: flex;
    justify-content: flex-end;
    

}

.input-section {
    border: solid gold 3px;
    padding: 1em 2em;
    border-radius: 1em;
}

.list-section {
    width: 80vw;
}

.edit-form {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

