body {
    background: aliceblue;
}

button {
    -webkit-user-select: none;  /* Chrome, Safari, Opera */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Standard syntax */
}

ul {
    list-style-type: none;
}

.diary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.diary-date {
    flex: 0.5;
}

.diary-text {
    flex: 3;
}

.diary-action {
    flex: 0.5;
    display: flex;
    justify-content: space-around;
}



.input-section {
    border: gold 300px;

}

.list-section {
    background: lightsalmon;
    width: 80vw;
}